@charset "UTF-8";

/* DECLARAÇÃO DE VARIÁVEIS */
/* :root{
    --cor1:#2EE64B;
    --cor2:#45CC5A;
    --cor3:#349943;
    --cor4:#2c4f31b2;
    --cor5:#1A4D22;


    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'idroid';
} */

/* DECLARANDO PADRÕES GLOBAIS */
*{
    margin: 0px;
    padding: 0px;

}
body{
    background-color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header{
    background-color: rgba(0, 255, 0, 0.616);
    font-family: 'Times New Roman', Times, serif;
    display: table;
    width: 100%;
}

.main{
    display: block; 
    width: 100%;
    height: 6rem;
}
.fundo{
    background-color: black;
    display: flex;
    height: 4rem;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.insta{
    height: 100%;
    width: 25px;
    align-items: center;
    justify-items: center;
    display: flex;
    float: right;
}


.logo{
    height:50px;
    width: 50px;
    background-color: red;
    border: 1px solid white;
 }

