@charset "UTF-8";

body{
    background-color:limegreen;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1{
    color: rgb(139, 0, 0);
    font-family: 'Times New Roman', Times, serif; 
    font-size: 35px;
    background-color:lightblue;
}
h2{
    color: rgb(139, 0, 0);
    background-color: lightblue;
}
p{
    text-align: justify;
}